@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6" >
        <h1>Boys</h1>
        <p class="lead">Picture of a sweet boy</p>
    </div>
    <div class="col-md-6">
        <h1>Girls</h1>
        <p class="lead">Picture of a sweet girl</p>
    </div>
</div>

@*<div style="padding-top:3em; padding-bottom:10em;">
    <div style="text-align-last: center;" class="col-md-12" ><img src="~/coat.jpg" /></div>
    <div style="text-align-last: center;" class="col-md-12"><img src="~/pink_shirt.jpg" /></div>
    <div style="text-align-last: center;" class="col-md-12"><img src="~/pijama.jpg" /></div>
    @*<div style="text-align-last: center; background-image: url('../../coat.jpg'); background-size: contain; width: 150px; height: 120px; border: ridge; padding-right: 1em;" class="col-md-7" ></div>*@
    @*<div style="text-align-last: center;background-image: url('../../pink_shirt.jpg'); background-size:contain; width: 150px; height:120px; border:ridge; padding-right:1em;" class="col-md-7" ></div>
    <div style="text-align-last: center;background-image: url('../../pink_shirt.jpg'); background-size:contain; width: 150px; height:120px; border:ridge; padding-right:1em;" class="col-md-7" ></div>
    <div style="text-align-last: center;background-image: url('../../pink_shirt.jpg'); background-size:contain; width: 150px; height:120px; border:ridge; padding-right:1em;" class="col-md-7" ></div>
    <div style="text-align-last: center;background-image: url('../../pink_shirt.jpg'); background-size:contain; width: 150px; height:120px; border:ridge; padding-right:1em;" class="col-md-7" ></div>*@
    @*<div style="text-align-last: center;background-image: url('../../pink_shirt.jpg'); width: 110px"></div>*@
@*</div>*@
